@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&family=Press+Start+2P&display=swap');

body {
    background-color: #E0F7FA;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    padding: 20px;
    color: #37474F;
}

.game-block {
    display: inline-block;
    border: 3px solid #37474F;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    padding: 10px 20px;
    margin: 5px;
    cursor: grab;
    background-color: #FFA726;
    color: white;
    border-radius: 8px;
   font-size: 18px;
}

.game-block:active { cursor: grabbing; }

#drop-area {
    width: 90px;
    max-width:600px;
    min-height: 80px;
    border: 4px dashed #9E9E9E;
    margin: 20px auto;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    direction: ltr;
}
#blocks {
    min-height: 50px;
    margin-bottom: 20px;
}

button {
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
    cursor: pointer;
    background-color: #FFA726;
    color: white;
    box-shadow: 0 4px #FB8C00;
    margin: 10px;
}

button:active {
    box-shadow: 0 2px #FB8C00;
    transform: translateY(2px);
}

.java-btn { background-color: #EF5350; box-shadow: 0 4px #D32F2F; }
.html-btn { background-color: #42A5F5; box-shadow: 0 4px #1976D2; }
.css-btn { background-color: #66BB6A; box-shadow: 0 4px #388E3C; }
